
*{
    box-sizing: border-box;
}
.header-container{
    width: 1200px;
    max-width: 100%;
    margin: auto;
    background-image: url(../images/girl.png);
    background-position: left center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
    
}
.navigation{
    display: flex;
    justify-content: space-between;
}
ul{
    display: flex;
    padding-top: 20px;
}
li{
    padding-right: 40px;
}
.active-li{
    padding-right: 0px;
}
.logo h1{
    font-size: 35px;
    font-weight: 500;
}
.logo{
    padding-top: 15px;
}
li a{
    text-decoration: none;
    color: rgb(91, 91, 91);
    font-size: 18px;
    font-weight: 300;
}
.active a{
    background-color:rgb(91, 91, 91) ;
    color: white;
    padding: 20px;
}


.both{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.right{
    width: 600px;
    max-width: 100%;
    height: 250px;
    background-color: rgba(229, 229, 229, 0.463);
    margin-top: 200px;
    margin-left: auto;
    
}
.inside-box{
    width: 550px;
    height: 200px;
    border: solid 3px #fff;
    margin: 25px;
}
.inside-box-text span{
    font-size: 50px;
    font-weight: 800;
    color: rgb(72, 72, 72);
}
.inside-box-text h1{
    font-size: 50px;
    color: rgb(72, 72, 72);
    
}
.inside-box-text h4{
    font-size: 18px;
    color: rgb(72, 72, 72);
    
    
}
.inside-box-text{
    margin-top: 60px;
    text-align: center;

}












@media screen and (max-width:700px) {
    .both{
      width: 100%;
      min-width: 100%;
      margin-top: 0px;
    }
   
    .right{
        width: 100%;
        max-width: 100%;
        height: 250px;
        background-color: rgba(229, 229, 229, 0.463);
        margin-top: 90px;
        margin-left: 0px;
    }
    .inside-box{
        width: 90%;
        max-width: 100%;
    }
    .inside-box-text span{
        font-size: 30px;
        font-weight: 600;
        color: rgb(72, 72, 72);
    }
    .inside-box-text h1{
        font-size: 30px;
        color: rgb(72, 72, 72);
    }
    .inside-box-text h4{
        font-size: 18px;
        color: rgb(72, 72, 72);
        
    }
    /* .inside-box-text{
        
    } */
    .nav{
        display: none;
    }
}