
*{
    box-sizing: border-box;
}
.header-container{
    width: 1200px;
    max-width: 100%;
    margin: auto;
    background-image: url(../images/girl.png);
    background-position: left center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
    
}
.navigation{
    display: flex;
    justify-content: space-between;
}
ul{
    display: flex;
    padding-top: 20px;
}
li{
    padding-right: 40px;
}
.active-li{
    padding-right: 0px;
}
.logo h1{
    font-size: 35px;
    font-weight: 500;
}
.logo{
    padding-top: 15px;
}
li a{
    text-decoration: none;
    color: rgb(91, 91, 91);
    font-size: 18px;
    font-weight: 300;
}
.active a{
    background-color:rgb(91, 91, 91) ;
    color: white;
    padding: 20px;
}
.burger{
    display: none;
}

.both{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.right{
    width: 600px;
    max-width: 100%;
    height: 250px;
    background-color: rgba(229, 229, 229, 0.463);
    margin-top: 200px;
    margin-left: auto;
    
}
.inside-box{
    width: 550px;
    height: 200px;
    border: solid 3px #fff;
    margin: 25px;
}
.inside-box-text span{
    font-size: 50px;
    font-weight: 800;
    color: rgb(72, 72, 72);
}
.inside-box-text h1{
    font-size: 50px;
    color: rgb(72, 72, 72);
    
}
.inside-box-text h4{
    font-size: 18px;
    color: rgb(72, 72, 72);
}
.inside-box-text{
    margin-top: 60px;
    text-align: center;
}
.container{
    width: 1200px;
    max-width: 100%;
    margin: auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .col-6 {
    width: 60%;
    padding: 0 15px;
  }
  
  .col-4 {
    width: 40%;
    padding: 0 15px;
  }
  
  .big-img {
    width: 100%;
    height: 484px;
    object-fit: cover;
    margin-bottom: 30px;
  }
  
  .small-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  
  .stand-img {
    height: 250px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 30px;
  }
  
  .col-5 {
    width: 50%;
    padding: 0 15px;
  }
.nav-2{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 60px;
}
.nav-2 li{
    color: rgb(91, 91, 91);
    font-size: 18px;
    font-weight: 300;
}
.nav-2-active a{
    background-color:rgb(91, 91, 91) ;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.blog-section{
    background-color: rgba(204, 204, 204, 0.334);
    margin-top: 100px;
}
.box-3{
    width: 33.3%;
    max-width: 100%;
    
}
.box-item{
    display: flex;
    justify-content: center;
}
.container h1{
    text-align: center;
    padding: 50px;
    font-size: 25px;
    color:rgb(91, 91, 91) ;
    font-weight: 600;
}
.box-foot{
    text-align: center;
}
.box-foot h2{
    font-size: 20px;
    padding-top: 20px;
    color: rgb(105, 105, 105);
}
.box-foot p{
    font-size: 14px;
    color: rgb(133, 133, 133);
    padding-top: 20px;
    padding-bottom: 50px;
}
footer{
    margin-top: 50px;
    margin-bottom: 50px;
}
.box-5{
    width: 50%;
    max-width: 100%;
}
.box-5 h3{
    padding-top: px;
}
.box-5 ul{
    display: flex;
    justify-content: end;
    padding-top: 0px;
    
}

@media screen and (max-width:700px) {
    .both{
      width: 100%;
      min-width: 100%;
      margin-top: 0px;
    }
   
    .right{
        width: 100%;
        max-width: 100%;
        height: 250px;
        background-color: rgba(229, 229, 229, 0.463);
        margin-top: 90px;
        margin-left: 0px;
    }
    .inside-box{
        width: 90%;
        max-width: 100%;
    }
    .inside-box-text span{
        font-size: 30px;
        font-weight: 600;
        color: rgb(72, 72, 72);
    }
    .inside-box-text h1{
        font-size: 30px;
        color: rgb(72, 72, 72);
    }
    .inside-box-text h4{
        font-size: 18px;
        color: rgb(72, 72, 72);
        
    }
    .nav{
        display: none;
    }
    .nav-2 ul{
        width: 100%;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-top: 0px;
    }
    .nav-2 ul li{
        padding-top: 10px;
    }
    .nav-2-active{
        margin-bottom: 10px;
    }
    .col-5, .col-6, .col-4 {
        width: 100%;
      }
    .box-3{
        width: 100%;
        max-width: 100%;
    }
    .box-5 ul{
        display: flex;
        justify-content: end;
        padding-top: 0px;
        flex-direction: column;
        text-align: center;
        padding-top: 20px;
    }
    .box-5 ul li{
        padding-top: 10px;
    }
    .box-5 h3{
        text-align: center;
    }
    .box-5{
        width: 100%;
        max-width: 100%;
    }
    .burger{
        display: block;
        margin-top: 20px;
        margin-right: 30px;
    }
    .fa-bars{
        font-size: 35px;
    }
}
@media (max-width: 600px) {
    .box-3{
        width: 100%;
        max-width: 100%;
    }
    .box-item img{
        width: 100%;
        max-width: 100%;
    }
    .both{
        width: 100%;
        min-width: 100%;
        margin-top: 0px;
      }
     
      .right{
          width: 100%;
          max-width: 100%;
          height: 250px;
          background-color: rgba(229, 229, 229, 0.463);
          margin-top: 90px;
          margin-left: 0px;
      }
      .inside-box{
          width: 90%;
          max-width: 100%;
      }
      .inside-box-text span{
          font-size: 30px;
          font-weight: 600;
          color: rgb(72, 72, 72);
      }
      .inside-box-text h1{
          font-size: 30px;
          color: rgb(72, 72, 72);
      }
      .inside-box-text h4{
          font-size: 18px;
          color: rgb(72, 72, 72);
          
      }
      .nav{
          display: none;
      }
      .nav-2 ul{
          width: 100%;
          max-width: 100%;
          display: flex;
          flex-direction: column;
          text-align: center;
          padding-top: 0px;
      }
      .nav-2 ul li{
          padding-top: 10px;
      }
      .nav-2-active{
          margin-bottom: 10px;
      }
      .col-5, .col-6, .col-4 {
          width: 100%;
        }
      .box-3{
          width: 100%;
          max-width: 100%;
      }
      .box-5 ul{
          display: flex;
          justify-content: end;
          padding-top: 0px;
          flex-direction: column;
          text-align: center;
          padding-top: 20px;
      }
      .box-5 ul li{
          padding-top: 10px;
      }
      .box-5 h3{
          text-align: center;
      }
      .box-5{
          width: 100%;
          max-width: 100%;
      }
      .burger{
          display: block;
          margin-top: 20px;
          margin-right: 30px;
      }
      .fa-bars{
          font-size: 35px;
      }
  
  }